<div id='signin'>
  <h1>sigin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input name = "username" type='text'ng-model='user.username' required>
    <input  name = "password" type="password" ng-model='user.password' required>
    <button ng-dsiabled= "signinForm.$invalid">signin</button>
    <div ng-show="signinForm.username.$invalid">Invalid Username</div>
    <div ng-show="signinForm.password.$invalid">Invalid Password</div>
  </form>
  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
